<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - АРМ проверки юридических лиц</title>
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @RenderSection("contextMenu", required: false)

    <div class="overlay"></div>

    <div class="spinner-wrap">
        <div class="spinner"></div>
    </div>

    @{Html.RenderPartial("_CommonDialog");}

    <ul class="dropdown-menu task-tooltip" id="progress-tooltip"></ul>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
